PORT=5000
MONGO_URI=mongodb+srv://amanpreet_project_01:Guransh1709@cluster0.4cxefnt.mongodb.net/content-validator?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=011ffe71009338de684ceb3c60f7524ddcb1cb8be511b63155a3937afceacaec733fafb5bc6005bb50837083f6c452276eae298c8869a86a3728209485f06415
JWT_EXPIRE=7d

# YouTube Data API v3 key from Google Cloud Console
YOUTUBE_API_KEY=AIzaSyAbViq7JiExWjudDKT3LLWFa9_pZyJR96I



# Groq API key (free at https://console.groq.com)
GROQ_API_KEY=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

NODE_ENV=development
